<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 
        Alpines Template 
        http://www.templatemo.com/preview/templatemo_436_alpines
        -->
        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/owl-carousel.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/templatemo-style.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        

        <!-- SITE HEADER -->
        <div class="site-top" id="top" style="background-image: url(images/shelf.jpg);">
            <div class="site-top-overlay"></div>
            <div class="site-header">
                <div class="container">
                    <a href="#" class="site-brand">
                        
                    </a>
                    <div class="main-navigation">
                        <a href="#" class="visible-xs toggle-menu"><i class="fa fa-bars"></i></a>
                        <nav class="site-navigation">
                            <ul>
                                <li><a href="#services">Features</a></li>
                                
                            </ul>
                        </nav>
                    </div> <!-- .main-navigation -->
                </div>
            </div> <!-- .site-header -->

            <div class="welcome-text">
                <div class="container text-center white-text">
                	<div class="col-xs-8 col-xs-offset-2">
                        <h1>Hello, Welcome to Retail-izer</h1>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div> <!-- .site-top -->

        



        <!-- POSTS -->
        <section id="posts" class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 text-center">
                        <h2>Here you can see all the retailers which feature your product</h2>
                        <span class="underline"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="post-inside">
                            <div class="post-thumb">
                                <img src="images/1.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <h5><a href="#">Big Bazaar</a></h5>
                                <span class="small-text">Click for detailed analysis</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="post-inside">
                            <div class="post-thumb">
                                <img src="images/2.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <h5><a href="#">Be Kind and Helpful</a></h5>
                                <span class="small-text">City Capture</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="post-inside">
                            <div class="post-thumb">
                                <img src="images/3.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <h5><a href="#">Be Adaptive and Flexible</a></h5>
                                <span class="small-text">City Capture</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="post-inside">
                            <div class="post-thumb">
                                <img src="images/4.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <h5><a href="#">Be Quick and Easy</a></h5>
                                <span class="small-text">City Capture</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        

        <!-- SITE-FOOTER -->
        <footer class="site-footer">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>SPIT Hackathon</h1>
                    </div>
                </div>
            </div>
        </footer>

        <script src="js/vendor/jquery-1.10.2.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>